:root {
    --color: rgba(122, 122, 124, 0.918);
}
.banner {
    background: linear-gradient(to top, #1c7b9d, #fafafa);
    padding: 0;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url("../img/kotak.png");
        background-repeat: repeat;
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #1c7b9d, rgba(#1c7b9d, 0.9), #1c7b9d);
    }
    @media screen and (max-width: 768px) {
        background: linear-gradient(to top, #1c7b9d 30%, #fafafa);
    }

    .container_mouse {
        text-align: center;
        color: white;
        position: relative;
        z-index: 12;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 2rem;
        cursor: pointer;
    }

    .container_mouse .mouse-btn {
        margin: 10px auto;
        width: 40px;
        height: 80px;
        border: 4px solid white;
        border-radius: 30px;
        display: flex;
    }

    .container_mouse .mouse-btn .mouse-scroll {
        display: block;
        width: 20px;
        height: 20px;
        background: linear-gradient(170deg, rgba(white, 1), rgb(black, 0.1));
        border-radius: 50%;
        margin: auto;
        animation: scrolling 1s linear infinite;
    }

    @keyframes scrolling {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(20px);
        }
    }

    .videox {
        position: absolute;
        left: 63%;
        z-index: 4;
        top: 30%;
        outline: none;
        width: 20vw;
        height: auto;
        transform: translate(-50%, -50%) rotate(6deg);
        @media screen and (max-width: 768px) {
            width: 55%;
            left: 60%;
        }
    }
    @keyframes MoveUpDown {
        0%,
        100% {
            left: 60%;
        }
        50% {
            left: 65%;
        }
    }
    @keyframes MoveUpDown21 {
        0%,
        100% {
            left: 10%;
        }
        50% {
            left: 15%;
        }
    }
    @keyframes MoveUpDown2 {
        0%,
        100% {
            left: 0%;
        }
        50% {
            left: 5%;
        }
    }

    @keyframes toga {
        0%,
        100% {
            top: 30%;
            opacity: 0;
        }
        10% {
            top: 30%;
            opacity: 0;
        }
        20% {
            top: 30%;
            opacity: 1;
        }

        50% {
            top: 20%;
            opacity: 1;
        }
        80% {
            top: 20%;
            opacity: 1;
        }
        90% {
            top: 20%;
            opacity: 0;
        }
    }

    .toga {
        position: absolute;
        left: 50%;
        top: 30%;
        opacity: 0;
        transform: translate(-50%, -50%);
        width: auto;
        height: 150px;
        z-index: 4;
        animation: toga 2s linear infinite;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .mata {
        position: absolute;
        z-index: 15;
        left: 64%;
        top: 30%;
        transform: translate(0%, -68%);
        width: 3px;
        height: auto;
        @media screen and (min-width: 415px) and (max-width: 768px) {
            z-index: 15;
            left: 77%;
            top: 30%;
            width: 3px;
            transform: translate(-16%, -65%);
        }
        @media screen and (min-width: 300px) and (max-width: 414px) {
            z-index: 15;
            left: 72%;
            top: 30%;
            width: 2px;
            transform: translate(50%, -65%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .pesan {
        position: absolute;
        top: 85%;
        left: 60%;
        z-index: 6;
        filter: drop-shadow(2px 2px 6px #888);
        width: fit-content;
        transform: translate(100%, -100%);
        height: 70px;
        animation: MoveUpDown 2s linear infinite;
        @media screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .pesan2 {
        position: absolute;
        top: 60%;
        filter: drop-shadow(2px 2px 6px #888);
        left: 10%;
        z-index: 6;

        width: fit-content;
        transform: translate(100%, -100%) rotate(180deg);
        height: 70px;
        animation: MoveUpDown21 3.5s linear infinite;
        @media screen and (max-width: 768px) {
            animation: MoveUpDown2 2.5s linear infinite;
            transform: translate(-50%, -100%) rotate(180deg);
            height: 50px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .title {
        position: absolute;
        text-align: left;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        z-index: 8;
        padding: 8px;
        border-radius: 8px 8px 0 0;

        h2 {
            font-weight: bold;
            font-family: "Zain" !important;
            color: #535e78;
            font-size: 4.5rem;
            line-height: 3.5rem;
            @media screen and (max-width: 768px) {
                font-size: 2.4rem;
                line-height: 2rem;
            }
        }
        @media screen and (max-width: 768px) {
            // top: 73%;
            // width: 90%;
            // background: transparent;
            left: 69%;
            width: 40%;
            background: transparent;
            top: 50%;
            // background: #1c7b9d;
            // padding: 0;
        }
    }

    .wrappers {
        width: fit-content;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        // border: 2px solid;
        @media screen and (max-width: 768px) {
            height: 50vh;
            top: 20vh;
        }
        .image {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
            top: 0%;
            &::after {
                // @media screen and (max-width: 768px) {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                bottom: 0;
                height: 50px;
                background: linear-gradient(to top, #1c7b9d, transparent);
                // }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @media screen and (max-width: 768px) {
                    object-fit: cover;
                }
            }
            @media screen and (max-width: 768px) {
                // height: 90%;
                top: 10%;
            }
        }
        .tangan {
            position: absolute;
            left: 18vw;
            top: 13vh;
            width: fit-content;
            height: 35%;
            @media screen and (max-width: 768px) {
                left: -14vw;
                top: 12vh;

                height: 30%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
