:root {
    --color: rgba(122, 122, 124, 0.918);
}
.banner {
    background: linear-gradient(to top, #1c7b9d, #fafafa);
    padding: 0;

    .titlex {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        z-index: 12;
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 90%;
            top: 30%;
        }
        text-align: center;
        h2 {
            font-family: "Zain" !important;
            font-size: 4rem;
            font-weight: bold;
            color: white;
            line-height: 3.5rem;
            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
                line-height: 2.5rem;
                margin-bottom: 0;
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url("../img/kotak.png");
        background-repeat: repeat;
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #1c7b9d, rgba(#1c7b9d, 0.9), #1c7b9d);
    }
    @media screen and (max-width: 768px) {
        background: linear-gradient(to top, #1c7b9d 30%, rgba(#1c7b9d, 0.8), #1c7b9d);
    }

    .container_mouse {
        text-align: center;
        color: #eaeaea;
        position: relative;
        z-index: 12;
        font-weight: bold;
        // text-transform: uppercase;
        padding-top: 2rem;
        cursor: pointer;
    }

    .container_mouse .mouse-btn {
        margin: 10px auto;
        width: 30px;
        height: 60px;
        border: 4px solid #eaeaea;
        border-radius: 30px;
        display: flex;
    }

    .container_mouse .mouse-btn .mouse-scroll {
        display: block;
        width: 16px;
        height: 16px;
        background: linear-gradient(170deg, rgba(#eaeaea, 1), rgba(black, 0.1));
        border-radius: 50%;
        margin: auto;
        animation: scrolling 1s linear infinite;
    }

    @keyframes scrolling {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(20px);
        }
    }

    .mata {
        position: absolute;
        z-index: 15;
        left: 64%;
        top: 30%;
        transform: translate(0%, -68%);
        width: 3px;
        height: auto;
        @media screen and (min-width: 415px) and (max-width: 768px) {
            z-index: 15;
            left: 77%;
            top: 30%;
            width: 3px;
            transform: translate(-16%, -65%);
        }
        @media screen and (min-width: 300px) and (max-width: 414px) {
            z-index: 15;
            left: 72%;
            top: 30%;
            width: 2px;
            transform: translate(50%, -65%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .title {
        position: absolute;
        text-align: left;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        z-index: 8;
        padding: 8px;
        border-radius: 8px 8px 0 0;

        h2 {
            font-weight: bold;
            font-family: "Zain" !important;
            color: #535e78;
            font-size: 4.5rem;
            line-height: 3.5rem;
            @media screen and (max-width: 768px) {
                font-size: 2.4rem;
                line-height: 2rem;
            }
        }
        @media screen and (max-width: 768px) {
            // top: 73%;
            // width: 90%;
            // background: transparent;
            left: 69%;
            width: 40%;
            background: transparent;
            top: 50%;
            // background: #1c7b9d;
            // padding: 0;
        }
    }
}
