.banner {
    background: linear-gradient(to top, #1c7b9d, #69bfdd);
    padding: 0;
    .title {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 8;
        @media screen and (max-width: 768px) {
            top: 70%;
        }
    }

    .wrappers {
        width: fit-content;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        // border: 2px solid;
        @media screen and (max-width: 768px) {
            height: 50vh;
            top: 20vh;
        }
        .image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .tangan {
            position: absolute;
            left: 18vw;
            top: 13vh;
            width: fit-content;
            height: 35%;
            @media screen and (max-width: 768px) {
                left: -14vw;
                top: 12vh;

                height: 30%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
