.min-height-auto {
    min-height: auto;
    // padding: 0;
}

.data {
    background: #1c7b9d;
    &.tambah-kotak {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: url("../img/kotak.png");
            background-repeat: repeat;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #1c7b9d, rgba(#1c7b9d, 0.9), #1c7b9d);
        }
    }

    .wrappers {
        width: 100%;
        height: 520px;
        margin: 0 auto 0;
        // top: 35%;
        position: relative;
        // border: 2px solid;
        @media screen and (max-width: 768px) {
            height: 50vh;
            top: 20vh;
        }
        .image {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
            // top: 0%;
            &::after {
                // @media screen and (max-width: 768px) {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                bottom: 0;
                height: 50px;
                background: linear-gradient(to top, #1c7b9d, transparent);
                // }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @media screen and (max-width: 768px) {
                    object-fit: cover;
                }
            }
            @media screen and (max-width: 768px) {
                // height: 90%;
                top: 10%;
            }
        }
        .tangan {
            position: absolute;
            left: 18vw;
            top: 13vh;
            width: fit-content;
            height: 35%;
            @media screen and (max-width: 768px) {
                left: -14vw;
                top: 12vh;

                height: 30%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .videox {
        position: absolute;
        left: 63%;
        z-index: 4;
        top: 30%;
        outline: none;
        width: 20vw;
        height: auto;
        transform: translate(-50%, -50%) rotate(6deg);
        @media screen and (max-width: 768px) {
            width: 55%;
            top: 40%;
            left: 60%;
        }
    }
    @keyframes MoveUpDown {
        0%,
        100% {
            left: 60%;
        }
        50% {
            left: 65%;
        }
    }
    @keyframes MoveUpDown21 {
        0%,
        100% {
            left: 10%;
        }
        50% {
            left: 15%;
        }
    }
    @keyframes MoveUpDown2 {
        0%,
        100% {
            left: 0%;
        }
        50% {
            left: 5%;
        }
    }

    @keyframes toga {
        0%,
        100% {
            top: 30%;
            opacity: 0;
        }
        10% {
            top: 30%;
            opacity: 0;
        }
        20% {
            top: 30%;
            opacity: 1;
        }

        50% {
            top: 20%;
            opacity: 1;
        }
        80% {
            top: 20%;
            opacity: 1;
        }
        90% {
            top: 20%;
            opacity: 0;
        }
    }

    .toga {
        position: absolute;
        left: 50%;
        top: 30%;
        opacity: 0;
        transform: translate(-50%, -50%);
        width: auto;
        height: 150px;
        z-index: 4;

        animation: toga 2s linear infinite;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .pesan {
        position: absolute;
        top: 85%;
        left: 60%;
        z-index: 6;
        filter: drop-shadow(2px 2px 6px #888);
        width: fit-content;
        transform: translate(100%, -100%);
        height: 70px;
        animation: MoveUpDown 2s linear infinite;
        @media screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .pesan2 {
        position: absolute;
        top: 60%;
        filter: drop-shadow(2px 2px 6px #888);
        left: 10%;
        z-index: 6;

        width: fit-content;
        transform: translate(100%, -100%) rotate(180deg);
        height: 70px;
        animation: MoveUpDown21 3.5s linear infinite;
        @media screen and (max-width: 768px) {
            animation: MoveUpDown2 2.5s linear infinite;
            transform: translate(-50%, -100%) rotate(180deg);
            height: 50px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    h3 {
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        @media screen and (max-width: 768px) {
            font-size: 2rem !important;
        }
    }

    .data-image {
        position: relative;
        width: 100%;
        height: 80vh;
        .grafis {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 80%;
            border-radius: 24px;
            height: auto;
            transform: translate(-50%, -50%);
            background: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0.4));
            padding: 16px;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            &__data {
                display: inline-block;
                text-align: center;
                width: 45%;
                .juduls {
                    font-size: 1.3rem;
                    line-height: 1.3rem;
                    color: #fff;
                    width: fit-content;
                    margin: 0 auto;
                    border-radius: 16px;
                    padding: 4px 16px;
                    background: #3f3f3f;
                    @media screen and (max-width: 768px) {
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                    }
                }
                .dataz {
                    font-size: 3rem;
                    font-weight: bold;
                    line-height: 2rem;
                    &::after {
                        content: " jiwa";
                        font-size: 1.2rem;
                        font-weight: normal;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }

    .image {
        width: 70%;
        height: auto;

        // margin: 50vh auto;
        position: absolute;

        // inset: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .contentx {
        // margin: 72px auto 0 !important;
        // top: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .choosen {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 20px;
            left: 0;
            height: 40px;
            right: 0;
            z-index: -1;
            background: rgba(#fafafa, 0.1);
            border-radius: 50%;
        }
    }
}

.color-black {
    color: black !important;
    .font-12 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        @media screen and (max-width: 768px) {
            // font-size: 1.3rem;
            // line-height: 1.3rem;
        }
    }
    p {
        color: #3f3f3f !important;
    }

    .font-bold {
        font-weight: bold;
    }
}
