.pembukaan {
    background: #1c7b9d;
    .bayangan {
        position: absolute;
        right: -8%;
        bottom: -16%;
        width: 50%;
        height: auto;
        filter: grayscale(1) opacity(0.2);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bawah {
        position: absolute;
        bottom: -16%;
        left: 0;
        width: 50%;
        z-index: 4;
        height: auto;
        @media screen and (max-width: 768px) {
            width: 100%;
            bottom: -5%;
            left: -8%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .bawahx {
        position: absolute;
        bottom: -11%;
        right: 0;
        width: fit-content;
        z-index: 4;
        height: 65vh;
        @media screen and (max-width: 768px) {
            width: 100%;
            bottom: -20%;
            // left: -8%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .wrap-detikx {
        margin-top: -100vh;
        .hello {
            z-index: -1;
        }
    }
}
