.pembukaan {
    background: #1c7b9d;
    // padding: 32px 0 50vh;
    .bayangan {
        position: absolute;
        right: -8%;
        bottom: -16%;
        width: 50%;
        height: auto;
        filter: grayscale(1) opacity(0.2);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bawah {
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 50%;
        z-index: 4;
        height: auto;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     width: 100%;
        //     height: 50px;
        //     background: linear-gradient(to top, #1c7b9d, transparent);
        // }
        @media screen and (max-width: 768px) {
            width: 100%;
            bottom: -5%;
            left: -8%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .bawahx {
        position: absolute;
        bottom: -11%;
        right: 0;
        width: fit-content;
        z-index: 4;
        height: 65vh;
        @media screen and (max-width: 768px) {
            width: 100%;
            bottom: -20%;
            // left: -8%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .wrap-detikx {
        margin-top: -100vh;
        padding-bottom: 20vh;
        .hello {
            z-index: -1;
        }
    }
}
