.teropong {
    background: #1c7b9d;
    .image {
        width: fit-content;
        height: auto;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
