.teropong {
    background: #1c7b9d;
    .image {
        width: 70%;
        height: auto;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: url("../img/kotak.png");
    //     background-repeat: repeat;
    // }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(to top, #1c7b9d, rgba(#1c7b9d, 0.9), #1c7b9d);
    // }

    .wrap-detikx {
        z-index: 12;
    }

    .all-berlari {
        position: relative;
        width: 100%;
        height: 320px;
        @media screen and (max-width: 768px) {
            height: 320px;
            // filter: hue-rotate(24deg);
        }
    }

    @keyframes lari {
        0% {
            opacity: 0;
            left: 0px;
        }
        20% {
            left: 0px;
            opacity: 1;
        }
        30% {
            left: 0px;
            opacity: 1;
        }
        50% {
            left: -72px;
            opacity: 1;
        }
        80% {
            left: -72px;
            opacity: 1;
        }
        90%,
        100% {
            left: -72px;
            opacity: 0;
        }
    }
    .lari2 {
        animation: lari 1.5s linear infinite;
        opacity: 0;
    }
    .lari {
        z-index: 4;
    }
    .lari,
    .lari2 {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
